.form {
 display: flex;
 flex-direction: column;
 > * {
     margin-bottom: $m-size;
 }
}

.SingleDatePickerInput{
    width: 100%;
}
#date{
    width: 94rem;
}

.form__error {
    margin: 0 0 $m-size;
    font-style: italic;

 }